@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif;
    /* background-color: rgb(46, 46, 46); */
}

:root {
    --main-color: #FEA301;
    --secondary-color: #01ACFD;
    --text-color: #111111;
    --bg-color: #ffffff;
}

/* Header Section */

#header {
    position: relative;
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
    gap: 10px;
}

.logo-icon {
    width: 64px;
    height: 64px;
}

.navigation {
    width: 390px;
    height: 30px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.navigation ul li a {
    text-decoration: none;
}

#nav-1 {
    color: var(--main-color);
    transition: .3s;
}


#nav-2 {
    color: var(--secondary-color);
    transition: .3s;
}


#nav-3 {
    color: #05D4DF;
    transition: .3s;
}

#nav-4 {
    color: #5D58EF;
    transition: .3s;
}

#nav-1:hover, #nav-2:hover, #nav-3:hover, #nav-4:hover {
    color: #ff0000;
    font-weight: 600;
    text-decoration: underline;
}

.button {
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
    border: none;
    color: var(--bg-color);
    border-radius: 8px;
    transition: .4s;
}

.button:hover {
    background-color: #ff0000;
    cursor: pointer;
}

.menu, hr {
    display: none;
}

/* Home Section */

#home {
    position: relative;
    width: 80%;
    height: calc(100vh - 100px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 60%;
}

.home-title {
    font-size: 3.5rem;
}

#title-color1 {
    color: var(--main-color);
}

#title-color2 {
    color: var(--secondary-color);
}

.home-description {
    margin-top: 20px;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#btn {
    background-color: var(--text-color);
    color: var(--bg-color);
}

#btn:hover {
    background-color: #ff0000;
}

/* Curriculum Section */

#curriculum {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    background-image: url(./images/bg.png);
    background-size: cover;
}

.curriculum-title {
    text-align: center;
    font-size: 2.87rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.curriculum-container {
    width: 80%;
    height: 485px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
}

.curriculum-card {
    width: 370px;
    height: 100%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#card-1 {
    background: linear-gradient(180deg, #b3d7f85b, #ffffff);
    border: .2px solid #afd7fcc2;
}
#card-2 {
    background: linear-gradient(180deg, #fad89d56, #ffffff);
    border: .2px solid #e9c27f9a;
}
#card-3 {
    background: linear-gradient(180deg, #aeacfd50, #ffffff);
    border: .2px solid #9895eb8a;
}

.curriculum-card > img {
    width: 130px;
    height: 110px;
    margin-bottom: 30px;
}

.curriculum-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.curriculum-card a {
    text-decoration: none;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
}

#card-1 a {
    color: #01ACFD;
}

#card-2 a {
    color: #FEA301;
}

#card-3 a {
    color: #5D58EF;
}

.arrow-button {
    width: 130px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.arrow:hover {
    background-color: #ff0000;
}

.arrow i {
    font-size: 40px;
    align-items: center;
    margin-top: 10px;
    color: var(--bg-color);
}

/* Stories Section */

#stories {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    background-image: url(./images/bg.png);
    background-size: cover;
    
}

.stories-section {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fcfcfc4f, #ffa20057);
}

.stories-title {
    text-align: center;
    font-size: 2.87rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.stories-image {
    width: 80%;
    height: 630px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.stories-container {
    width: 50%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.3);
}

.container-image {
    width: 100%;
    height: 55%;
}

.container-image img {
    width: 100%;
    height: 100%;
}

#over-button {
    position: absolute;
    height: 48px;
    width: 174px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
    background-color: var(--secondary-color);
    margin-top: -55px;
    transition: .3s;
}

#over-button:hover {
    background-color: #ff0000;
}

.container-description {
    width: 100%;
    height: 45%;
}

.container-description > .text-container {
    padding: 30px;
}

.text-container h4 {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.text-container p {
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    margin-top: 50px;
}


#parent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    box-shadow: none;
    background: none;
    overflow: visible;
}

.sub-container {
    width: 100%;
    height: 100%;
    background: #5D58EF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.3);
}

.sub-container-image {
    width: 100%;
    height: 55%;
}

.sub-container-image img {
    width: 100%;
    height: 100%;
}

#sub-over-button {
    position: absolute;
    height: 38px;
    width: 148px;
    border-radius: 25px;
    border: none;
    font-size: .8rem;
    font-weight: 500;
    color: var(--bg-color);
    background-color: #5D58EF;
    margin-top: -45px;
    transition: .3s;
}

#sub-over-button:hover {
    background-color: #ff0000;
}

.sub-container-desc {
    width: 100%;
    height: 45%;
    background: var(--bg-color);
    padding: 25px;
}

.sub-container-desc h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.button-container {
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
}

/* Footer */


.footer-margin {
    width: 100%;
    height: 60px;
    background-color: #ffa20057;
}

.footer-container {
    background-color: var(--secondary-color);
    height: 520px;
    width: 100%;
}

.footer-elements {
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.section {
    width: 50%;
    height: 50%;
    gap: 30px;

}

.footer-title {
    height: auto;
    width: 80%;
    align-items: center;
}

.footer-logo {
    display: flex;
    color: var(--bg-color);
    
}

.footer-logo > h2 {
    font-size: 2.5rem;
    color: var(--bg-color);
    line-height: 40px;
    margin-left: 20px;
}

.footer-description {
    font-size: 1rem;
    margin-top: 30px;
    color: var(--bg-color);
}

.sub-section {
    display: flex;
    justify-content: space-between;
}

.title > h2, .f-icon > h2 {
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.f-nav > ul li {
    list-style: none;
    font-size: 1.25rem;
    color: var(--bg-color);
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
}

.f-nav > ul li:hover {
    text-decoration: underline;
}

.f-icon img {
    margin-right: 10px;
}

.f-icon img:hover {
    box-shadow: 0 0 20px 8px rgba(0, 255, 255, 0.6), 
                  0 0 40px 16px rgba(0, 255, 255, 0.4);
      transition: box-shadow 0.3s ease-in-out;
}

/* Responsive For Mobile */

@media screen and (max-width: 567px) {
    .logo-text, .navigation, .button {
        display: none;
    }

    .menu, hr {
        display: block;
        font-size: 1.87rem;
    }

    /* Home Section */

    #home {
        width: 90%;
        height: auto;
        margin-top: 20px;
        flex-direction: column-reverse;
    }

    .text {
        width: 100%;
        text-align: center;
    }
    
    .home-title {
        font-size: 2rem;
        margin-top: 20px;
    }

    
    .home-description {
        font-size: 0.87rem;
    }

    #btn {
        display: block;
        margin: auto;
    }

    /* Curriculum Section */

    .curriculum-title {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .curriculum-container {
        width: 90%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 50px;
    }

    .curriculum-card {
        width: 100%;
    }

    .arrow-button {
        display: none;
    }

    /* Stories Section */
    #stories {
        height: auto;
        margin-top: 350px;
    }

    .stories-container {
        width: 100%;
    }
    
    .stories-image {
        width: 90%;
        height: auto;
        margin: auto 20px;
    }

    #hide-responsive {
        display: none;
    }

    #parent-container {
        width: 100%;
    }

    #sub-over-button, .sub-container-desc h6 {
        font-size: .8rem;
    }

    /* Footer */

    .footer-container {
        height: 600px;
    }

    .footer-elements {
        width: 90%;
        flex-direction: column;
        padding-top: 50px;
    }
    
    .section {
        width: 100%;
        height: auto;
        gap: 10px;
        
    }

    .sub-section {
        flex-direction: column;
    }

    .title > h2, .f-icon > h2 {
        margin-bottom: 15px;
    }

    .f-card {
        padding-bottom: 35px;
    }
}